*
  margin: 0
  padding: 0
  font-family: 'Source Sans Pro', sans-serif
html
  height: 100%
  box-sizing: border-box
body
  position: relative
  padding-bottom: 90px
  min-height: 100%
h2
  line-height: 1.1
p
  font-size: 16px
.content
  margin: 40px auto
  max-width: 800px
  .wrap
    padding: 0 20px
.grid-form
  display: grid
  grid-template-columns: auto 300px auto
.text-center
  text-align: center
.text-right
  text-align: right
.grid-header
  display: grid
  grid-template-columns: auto auto
.grid-footer
  display: grid
  grid-template-columns: auto auto
.plain
  text-decoration: none
  color: #000
input
  font-size: 16px
// Message
.notice
  background: #c8f4f6
  padding: 10px 15px
.alert
  background: #e4b9be
  padding: 10px 15px
// Button
.btn
  padding: 5px 10px
  border-radius: 5px
  text-decoration: none
  color: #000
  background: #d7d2cc
  border: #fff
  margin: 10px 0
.second
  background: #fff
  color: #e65d5a
// Header
header
  background: orange
  padding: 10px 20px
  background: #304352  // fallback for old browsers
  background: linear-gradient(to right, #d7d2cc, #304352) // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  .grid-nav
    display: grid
    grid-template-columns: auto 100px
  nav
    padding: 25px 0
    .navs
      list-style-type: none
      li
        display: inline-block
        margin-left: 15px
        a
          color: #fff
          &:active
            color: #fff
// Width
.w-100
  width: 100%

// Form
.label
  font-weight: bold

// Date
.gray
  font-size: 14px
  color: #888

// Icons
.fas
  margin-right: 5px

// Tags
.tag
  width: 60px
  // background: #eee
  border-radius: 3px 0 0 3px
  display: inline-block
  height: 26px
  line-height: 26px
  padding: 0 20px 0 23px
  position: relative
  margin: 0 10px 10px 0
  text-decoration: none
  -webkit-transition: color 0.2s
  &::before
    background: #fff
    border-radius: 10px
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25)
    content: ''
    height: 6px
    left: 10px
    position: absolute
    width: 6px
    top: 10px
  &::after
    background: #fff
    border-bottom: 13px solid transparent
    //border-left: 10px solid #eee
    border-top: 13px solid transparent
    content: ''
    position: absolute
    right: 0
    top: 0

// Footer
footer
  position: absolute
  left: 0
  right: 0
  bottom: 0
  padding: 20px
  background: linear-gradient(to right, #d7d2cc, #304352) // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  text-align: center
  color: #eee
  p
    display: inline-block
  a
    color: #edffb4
